PORT=3000
CLIENT_URL=http://localhost:5173
DB_CONNECT_STRING=
JWT_KEY=
REDIS_PASS=
JUDGE0_KEY=
GEMINI_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_PLAN_ID=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
TURNSTILE_SECRET_KEY=
SENDER_GMAIL=
SENDER_PASSWORD=
